<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isaac.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.isaac.model.Users">
        INSERT INTO users (firstname,lastname,email,phonenumber, password) VALUES (#{firstname},#{lastname},
         #{email},#{phonenumber}, #{password})
    </insert>
    <select id="loginUser" parameterType="java.util.Map" resultType="com.isaac.model.Users">
        SELECT * FROM users
        WHERE email = #{email} AND password = #{password}
    </select>
</mapper>